name: Publish docs to GitHub Pages
on:
  # For drafting purposes, build a docs version for each new PR.
  # Will have to be manually deleted later with `mike delete pr-####` from a local CLI
  pull_request:
  # On pushing to master, rebuild docs with current version number and push as "dev"
  push:
    branches:
      - main
# On releasing a new version, rebuild docs with new version number and push as "latest"
  release:
    types: [published, edited]
    
jobs:
  docdeploy:
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GIT_COMMITTER_NAME: ${{ github.actor }}
      GIT_COMMITTER_EMAIL: ${{ github.actor }}@users.noreply.github.com
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Read CI version config
        id: versions
        uses: mikefarah/yq@v4.44.1
        with:
          cmd: yq eval '.python-version' .github/workflows/ci-versions.yml
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ steps.versions.outputs.result }}
      - run: pip install mkdocstrings-python mkdocs-material mike
      - run: echo ${{ github.event_name}} ${{ github.ref_name }}
      # Deploy docs according to type of event
      - name: Deploy docs as latest
        if: ${{ github.event_name == 'release' }}
        run: mike deploy ${{ github.ref_name }} latest
      - name: Deploy docs for PR
        if: ${{ github.event_name == 'pull_request' }}
        run: mike deploy pr-${{ github.event.number }}
      - name: Deploy docs as dev
        if: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
        run: mike deploy dev
      - name: Get docs into GitHub Pages
        run: |
          git switch gh-pages
          git push origin gh-pages