name: Run doc notebooks to check for errors
on:
  # For drafting purposes, build a docs version for each new PR.
  # Will have to be manually deleted later with `mike delete pr-####` from a local CLI
  pull_request:
  # On pushing to master, rebuild docs with current version number and push as "dev"
  push:
    branches:
      - main
    
jobs:
  docdeploy:
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GIT_COMMITTER_NAME: ${{ github.actor }}
      GIT_COMMITTER_EMAIL: ${{ github.actor }}@users.noreply.github.com

    name: Run docs as if as doctest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v4
      - run: pip install ruamel.yaml scipy numpy matplotlib papermill
      - name: Run notebooks
        env:
          notebook_folder: docs/examples
          files:
            - knownRp_PD.ipynb
            - unknownRp_PD.ipynb
        run: |
          for f in $files; do papermill $notebook_folder/$f $notebook_folder/$f; done